.container {
  padding: 20px;
  border: 1px dotted;
  margin: 20px;
}

#posts_ordered li {
  padding: 10px;
}

#posts li:nth-child(1) {
  display: block;
}

#posts li:nth-child(2) {
  padding-left: 30px;
}

#posts li {
  display: inline;
  padding: 0px;
}

#posts ul li {
  margin: 0px;
  font-size: 14px;
}

#comments ul {
  margin-left: -140px;
}

 {
  border: 1px dotted;
}

#comments li:nth-child(3) {
  display: block;
  font-size: 14px;
  color: black;
}

#comments li {
  display: inline;
  font-size: 12px;
  color: gray;
}

.post {
  padding: 20px;
}

.user {
  padding: 20px;
}

.user_data td {
  padding: 10px;
}

.header {
  background-color: #ccc;
  padding: 5px;
}

#menu li {
  display: inline;
  padding-left: 10px;
}



.timeago {
  border: 0px;
  text-decoration: none;
}
