<div class="post">
<p>comments:</p>
<ul id="comments">
  <% @comments.each do |comment| %>
    <li><%= comment.text %></li>
    <li><a href="/posts/<%= comment.post.id %>">link</a></li>

  <% end %>
</ul

</div>
