<div class="message">
<% if @message %>
<%= @message %>
<% end %>
</div>

<h3>Login</h3>

<form action="/login" method="POST">
  username: <input type="text" name="name">
  password: <input type="password" name="password">
  <input type="submit" name="login">
</form>




<h3>Signup</h3>

<form action="/signup" method="POST">
  username: <input type="text" name="name">
  password: <input type="password" name="password">
  <input type="submit" name="login">
</form>
