<h3>MY HEADER GOES HERE</h3>
<form action="/posts/created" method="POST">
  title<input type="text" name="title">
  url<input type="text" name="url">
  <p>or</p>
  <textarea name="text" rows="13" cols="50"></textarea>
  <input type="submit">
</form>

<p>junk messages blah blah </p>
